<!DOCTYPE HTML>
<html data-ng-app="miniProject">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flexion Questionnaire | Mini Quiz | Project for Flexion</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
        <div id="miniProject" ng-controller="ProjectController">
            <h1>Test Your Knowledge!<span>About Everything</span></h1>
            
            <div class="progress">
                <div class="{{ ($index === activeQuestion) ? 'on' : 'off' }} 
                            {{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }} 
                            {{ (myQuestion.correctness === 'correct') ? 'correct' : 'incorrect' }}" 
                     data-ng-repeat="myQuestion in myQuestions"></div>
            </div>
            
            <div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
                <h2>Welcome!</h2>
                <p>Click begin to test your knowledge of web development.</p>
                <p class="btn" data-ng-click="activeQuestion = 0">Begin</p>
            </div>
            
            <div class="question
                        {{ $index === activeQuestion ? 'active' : 'inactive' }}
                        {{ myQuestion.questionState === 'answered' ? 'answered' : 'unanswered' }}" 
                 data-ng-repeat="myQuestion in myQuestions">
                <p class="txt">{{myQuestion.question}}</p>
                <p class="ans" data-ng-class="{selected:isSelected($parent.$index,$index), correct:isCorrect($parent.$index,$index)}"
                   data-ng-click="selectAnswer($parent.$index,$index)" data-ng-repeat="Answer in myQuestions[$index].answers">{{Answer.text}}</p>
               
                <div class="feedback">
                    <p data-ng-show="myQuestion.correctness === 'correct'">You are <strong>correct!</strong></p>
                    <p data-ng-show="myQuestion.correctness === 'incorrect'">Oops, that is not correct!</p>
                    <div class="btn" data-ng-click="selectContinue()">Continue</div>
                </div>
            </div>
            
            <div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive' }}">
            <h3>Results</h3>
                <p>You scored {{percentage}}% by correctly answering {{score}} out of a total of {{totalQuestions}} questions.</p>
            </div>       
        </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/project.js"></script>
	</body>
</html>